<fz-list list-title="{{vm.groupName}}" show-new="vm.showNew" show-attendance="vm.showAttendance">

  <fz-form-client-add group-id="{{vm.groupId}}" show="vm.showNew" ></fz-form-client-add>

  <div class="fz-list-item-group__attendance-title" ng-show="vm.showAttendance">Посещения сегодня</div>

  <fz-list-item-client ng-repeat="client in vm.group.clients track by client._id" client="client" show-attendance="vm.showAttendance"></fz-list-item-client>

  <div class="fz-list-item-group__attendance-footer" ng-show="vm.showAttendance">
    <div class="fz-list-item-group__attendance-count-text">Присутствующих</div><div class="fz-list-item-group__attendance-count-number">: {{vm.countChecked()}}</div>
    <button class="fz-list-item-group__attendance-submit fz-btn fz-btn--primary" type="button" ng-click="vm.submitAttendance()" ng-disabled="!vm.isCheckChanged()">Сохранить</button>
  </div>

</fz-list>
