@import 'variables'
@import 'typography'
@import 'mixins'
@import 'elements'
@import 'animations'
@import 'bootstrap'
@import 'packages/accounts-ui'
@import '../components/components'
@import '../views/views'


//for hiding sidebar when user is not logged in
.main-sidebar-off
  margin-left: 0

//TODO move with the navbar and its styles to separate component
.fz-navbar__login-icon
  position: absolute
  width: 50px
  line-height: 50px !important
  text-align: center
  pointer-events: none
