@import 'variables'
@import 'elements/elements'
@import 'animations/animations'
@import 'packages/accounts-ui'
@import '../components/components'
@import '../views/views'

body
  width: 100%
  margin: 0
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif
  font-size: 16px

input, textarea, button
  font-size: 16px

h4  //used for section titles
  margin-bottom: 10px

a
  text-decoration: none
  cursor: pointer

.fz__content
  // padding-left: 6px
