<h4>Клиенты</h4>

<table class="fz-table">
  <thead>
    <tr>
      <td></td>
      <td>№</td>
      <td class="tbl-text">Полное имя</td>
      <td>Явка</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in vm.clients">
      <td></td>
      <td>{{$index + 1}}</td>
      <td class="tbl-text">{{client.name}}</td>
      <td class="tbl-check"><input type="checkbox" ng-model="client.came" class="" /></td>
      <td class="tbl-btn" ng-click="vm.delClient(client)">&#10006;</td>
    </tr>
    <tr>
      <td class="tbl-btn"><span ng-hide="showForm" ng-click="showForm = true;">&#10133;</span></td>
      <td ng-hide="showForm" ng-repeat="i in [1,2,3,4]"></td>
      <td ng-show="showForm">{{clients.length + 1}}</td>
      <td class="tbl-input" ng-show="showForm"><form class="" ng-show="showForm" ng-submit="vm.addClient(); vm.newClient={}; showForm = false;" novalidate>
        <input name="name" ng-model="vm.newClient.name" type="text" placeholder="Введите ФИО"></form></td>
      <td class="tbl-btn" ng-show="showForm" ng-click="vm.addClient(); vm.newClient={}; showForm = false;">&#10004;</td>
      <td class="tbl-btn" ng-show="showForm" ng-click="vm.newClient={}; showForm = false;">&#10006;</td>
    </tr>
  </tbody>
</table>
