<fz-window show="vm.show" window-title="Добавление клиента" close="vm.resetForm()">
  <form name="vm.form" ng-submit="vm.addClient(vm.client)" novalidate>
    <fz-field field-name="Полное имя">
      <input class="fz-input" name="vm.input" type="text" ng-model="vm.client.name" placeholder="Введите ФИО клиента" required>
    </fz-field>
    <fz-window class="fz-window--card" ng-repeat="client in vm.foundClients track by client._id">
      {{client.name}}
      <div style="text-align: right; margin-top: 8px">
        <button class="fz-btn fz-btn--success" ng-click="vm.addClient(client)" type="button">Добавить</button>
      </div>
    </fz-window>
    <fz-buttons-submit ok-text="vm.foundClients.length && 'Создать нового' || 'Сохранить'" ok-disabled="vm.form.$invalid" cancel-text="Очистить" cancel="vm.resetForm()" cancel-disabled="!vm.isFormChanged()"></fz-buttons-submit>
  </form>
</fz-window>
