<header class="main-header">

  <a href="" class="logo bg-green" style="display: block">
    <span class="logo-lg fz-logo text-left"><span class="fz-brand">FZ</span>Sport</span>
  </a>

  <nav class="navbar navbar-static-top" style="margin-left: 130px" role="navigation">

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a class="accounts-ui" href="">
            <i class="fz-navbar__login-icon fa fa-sign-in fa-lg" ng-if="!$root.user"></i>
            <div class="fz-initials fz-initials-navbar" ng-if="$root.user">
              {{$root.user.initials}}
            </div>
            <login-buttons></login-buttons>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</header>

<div ui-view></div>
