<div>
  <section class="content-header">
    <h1>
      Owner view
      <!-- <small>Работа в системе fz-Sport производится в рамках <b>Компаний</b>. Вы можете дождаться пока Вас пригласят или <a ui-sref='create-company'>открыть свою компанию</a>.</small> -->
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol> -->
  </section>

  <section class="content">
    <p>
      Работа в системе fz-Sport производится в рамках <b>Компаний</b>.
    </p>
    <p>
      Вы можете дождаться пока Вас пригласят или <a ui-sref='create-company'>открыть свою компанию</a>.
    </p>
  </section>
</div>
