<!-- <ul class="sidebar-menu">
  <li class="active"><a ng-click="vm.closeMenu()" href=""><i class="fa fa-percent"></i> <span>Владелец</span></a></li>
  <li class="treeview">
    <a ng-click="vm.closeMenu()" href=""><i class="fa fa-compass"></i> <span>Администратор</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a ng-click="vm.closeMenu()" href="">Права пользователей</a></li>
      <li><a ng-click="vm.closeMenu()" href="">Журнал посещений</a></li>
    </ul>
  </li>
  <li><a ng-click="vm.closeMenu()" href=""><i class="fa fa-male"></i> <span>Тренер</span></a></li>
</ul> -->
<!-- TODO! get rid of nasty repetition -->
<ul class="sidebar-menu" ng-if="vm.role === 'owner'">
  <li ui-sref-active="active"><a ui-sref="sys.company.owner" ng-click="vm.closeMenu()" href=""><i class="fa fa-percent"></i><span>Владелец</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.journal" ng-click="vm.closeMenu()" href=""><i class="fa fa-table"></i><span>Журнал посещений</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.structure" ng-click="vm.closeMenu()" href=""><i class="fa fa-sitemap"></i><span>Структура компании</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.groups.composition" ng-click="vm.closeMenu()" href=""><i class="fa fa-users"></i><span>Группы</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.groups.attendance({attDate:vm.today})" ng-click="vm.closeMenu()" href=""><i class="fa fa-check-square"></i><span>Посещения</span></a></li>
</ul>
<ul class="sidebar-menu" ng-if="vm.role === 'admin'">
  <li ui-sref-active="active"><a ui-sref="sys.company.admin" ng-click="vm.closeMenu()" href=""><i class="fa fa-compass"></i><span>Администратор</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.journal" ng-click="vm.closeMenu()" href=""><i class="fa fa-table"></i><span>Журнал посещений</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.structure" ng-click="vm.closeMenu()" href=""><i class="fa fa-sitemap"></i><span>Структура компании</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.groups.composition" ng-click="vm.closeMenu()" href=""><i class="fa fa-users"></i><span>Группы</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.groups.attendance({attDate:vm.today})" ng-click="vm.closeMenu()" href=""><i class="fa fa-check-square"></i><span>Посещения</span></a></li>
</ul>
<ul class="sidebar-menu" ng-if="vm.role === 'trainer'">
  <li ui-sref-active="active"><a ui-sref="sys.company.trainer" ng-click="vm.closeMenu()" href=""><i class="fa fa-hand-o-right"></i><span>Тренер</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.journal" ng-click="vm.closeMenu()" href=""><i class="fa fa-table"></i><span>Журнал посещений</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.groups.composition" ng-click="vm.closeMenu()" href=""><i class="fa fa-users"></i><span>Группы</span></a></li>
  <li ui-sref-active="active"><a ui-sref="sys.company.groups.attendance({attDate:vm.today})" ng-click="vm.closeMenu()" href=""><i class="fa fa-check-square"></i><span>Посещения сегодня</span></a></li>
</ul>
