<a class="btn btn-block btn-default" href="" ng-click="vm.showBox=true">
  <i class="fa fa-user-plus"></i>
  Добавить
</a>
<div class="box box-internal" ng-if="vm.showBox">
  <div class="box-header with-border">
    <h3 class="box-title">Добавить запись</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" ng-click="vm.showBox=false; vm.newPerson.email=''">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <div class="form-group" ng-if="::vm.member">
      <div class="radio">
        <label>
          <input type="radio" ng-model="vm.addAs" name="optionsRadios" value="member" checked="">
          Поиск по компании или создание непривязанной записи
          <i class="fa fa-info-circle" data-toggle="tooltip" data-original-title="Непривязанная запись
          в компании управляется другими пользователями. Позже её можно привязать к пользователю fz-Sport."></i>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="vm.addAs" name="optionsRadios" value="user">
          Добавить пользователя fz-Sport
        </label>
      </div>
    </div>
    <form name="vm.form" ng-if="vm.addAs==='member'" ng-submit="vm.addWithSurrogate()" novalidate>
      <div class="form-group" ng-class="{'has-error': vm.form.name.$invalid && vm.form.name.$dirty}">
        <label>Полное имя</label>
        <input type="text" class="form-control" ng-model="vm.newPerson.name" ng-model-options="{ debounce: 300 }"
          ng-change="vm.nameChanged()" name="name" placeholder="Введите ФИО"
          ng-pattern="vm.namePattern" required>
        <p class="help-block text-red" ng-show="vm.form.name.$invalid && vm.form.name.$dirty">
          Два или три слова с заглавной буквы
        </p>
      </div>
      <button type="submit" class="btn btn-block btn-default"
        ng-show="vm.addAs==='member' && !vm.foundMembers.length === 0">
        Добавить новую запись
      </button>
    </form>
    <div ng-if="vm.addAs==='user'">
      <label>Email</label>
      <input type="email" class="form-control" ng-model="vm.newPerson.email" ng-model-options="{ debounce: 300 }"
        ng-change="vm.emailChanged()" placeholder="Введите email пользователя">
    </div>
    <h2 class="title-for-footer"
        ng-show="vm.foundUsers.length && vm.addAs==='user' || vm.foundMembers.length && vm.addAs==='member'">
        Выберите для добавления</h2>
  </div>
  <div class="box-footer no-padding">
    <ul class="nav nav-pills nav-stacked" ng-if="vm.addAs==='user'">
      <li ng-repeat="user in vm.foundUsers">
        <a ng-click="vm.add({memberId:user._id}); vm.newPerson.email=''; vm.showBox=false" href="#">{{user.profile.fname}}</a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-stacked" ng-if="vm.addAs==='member'">
      <li ng-repeat="member in vm.foundMembers">
        <a ng-click="vm.add({memberId:member._id}); vm.newPerson.name=''; vm.showBox=false" href="#">{{member.name}}</a>
      </li>
    </ul>
  </div>
</div>
