<div class="fz-input-submit__container">
  <form
    name="form"
    ng-submit="vm.onOk(); form.$setPristine()">
    <input
      class="fz-input-submit__input"
      ng-class="{'fz-input-submit__input--dirty': form.input.$dirty}"
      type="text"
      name="input" ng-model="vm.model"
      placeholder="{{vm.placeholder}}">
    <div
      class="fz-input-submit__button fz-input-submit__button--ok"
      ng-show="form.input.$dirty"
      ng-click="vm.onOk(); form.$setPristine()">
      &#10004;</div>
    <div
      class="fz-input-submit__button fz-input-submit__button--cancel"
      ng-show="form.input.$dirty"
      ng-click="vm.cancel(); form.$setPristine()">
      &#10006;</div>
  </form>
</div>
