<div>
  <section class="content-header">
    <h1>
      Группы
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <fz-group-composition class="col-md-3 col-sm-6 col-xs-12" ng-repeat="group in vm.company.groups" group="group"></fz-group-composition>
      <fz-group-create class="col-md-3 col-sm-6 col-xs-12"></fz-group-create>
      <!-- <fz-people-list class="col-md-3 col-sm-6 col-xs-12" ng-if="vm.roles.indexOf('owner') !== -1"
        people-role="owner" list-title="Владельцы" list-style="warning" non-users="false">
      </fz-people-list>
      <fz-people-list class="col-md-3 col-sm-6 col-xs-12"
        people-role="admin" list-title="Администраторы" list-style="danger" add="vm.roles.indexOf('owner') !== -1" delete="vm.roles.indexOf('owner') !== -1" non-users="false">
      </fz-people-list>
      <fz-people-list class="col-md-3 col-sm-6 col-xs-12"
        people-role="trainer" list-title="Тренеры" list-style="success" non-users="false">
      </fz-people-list> -->
    </div>
  </section>
</div>
