<div class="box box-solid">
  <div class="box-header">
    <!-- tools box -->
    <div class="pull-right box-tools">
      <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="" data-original-title="Date range">
        <i class="fa fa-calendar"></i></button>
      <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="" style="margin-right: 5px;" data-original-title="Collapse">
        <i class="fa fa-minus"></i></button>
    </div>
    <!-- /. tools -->

    <i class="fa fa-check-square text-grey"></i>
    <h3 class="box-title">
      Посещаемость
    </h3>
  </div>
  <div class="box-body">
    <canvas id="attChart" height="240" style="display: block;"></canvas>
  </div>
</div> 
