<form name="form" ng-submit="vm.updateUserProfile()" novalidate>
  <h3 class="control-sidebar-heading">Персональные данные</h3>
  <div class="form-group" ng-class="{'has-error': form.fname.$invalid}">
    <label class="control-sidebar-subheading">ФИО</label>
    <input class="form-control fz-sidebar-shaded-input"
           id="control-sidebar-fname"
           name="fname"
           type="text"
           placeholder="Введите ФИО" ng-model="vm.user.profile.fname"
           ng-pattern="/^([А-Я][а-я]+ ){2}([А-Я][а-я]+){1}$/"
           required>
    <p class="help-block text-red" ng-show="form.fname.$invalid">
      Три слова с заглавной буквы
    </p>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="!vm.profileChanged || form.$invalid">Сохранить</button>
</form>
