<div class="box box-default collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">{{vm.groups[0].name}}</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div class="box-body no-padding">
    <div ng-if="vm.role !== 'trainer'">
      <div class="box-padding-top">
        <label>Тренер</label>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#">{{vm.groups[0].trainer.name}}</a>
        </li>
      </ul>
      <div class="box-padding-center">
        <label>Посещения</label>
      </div>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="client in vm.groups[0].clients track by client._id">
        <a ng-click="client.came=!client.came" href="#">{{client.name}}
          <!-- TODO fancy checkbox style -->
          <span class="pull-right">
            <i class="fa fa-lg"
                ng-class="{'fa-check-square text-success': client.came,
                           'fa-square text-grey': !client.came}"> </i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="box-footer">
    <button class="btn btn-block btn-primary" ng-click="vm.submitAttendance()">Сохранить</button>
  </div>
  <!-- TODO ability to add client to this particular training -->
  <!-- <div class="box-footer" ng-if="vm.add">
    <fz-user-add surrogate="true" add="vm.addMemberToGroup(clientId, surrogate)"></fz-user-add>
  </div> -->
  <!-- <pre>
    {{(vm.groups[0]) | json}}
  </pre> -->
</div>
