<div>
  <section class="content-header">
    <h1>
      Группы
    </h1>
  </section>

  <section class="content">
    <fz-group-filter ng-if="['owner','admin'].indexOf(vm.role)!==-1" trainer="vm.trainer"></fz-group-filter>
    <div class="row">
      <fz-group-composition class="col-md-3 col-sm-6 col-xs-12" ng-repeat="group in vm.groups" group-id="{{::group._id}}"></fz-group-composition>
      <fz-group-create class="col-md-3 col-sm-6 col-xs-12"></fz-group-create>
    </div>
  </section>
</div>
