<div>
  <section class="content-header">
    <h1>
      Посещения <span ng-if="vm.role==='trainer'">сегодня </span><small>{{vm.date}}</small>
    </h1>
    <small>{{::Date.now()}}</small>
  </section>

  <section class="content">
    <fz-group-filter ng-if="['owner','admin'].indexOf(vm.role)!==-1" trainer="vm.trainer"></fz-group-filter>
    <div class="row">
      <fz-group-attendance class="col-md-3 col-sm-6 col-xs-12" ng-repeat="group in vm.groups" group-id="{{::group._id}}"></fz-group-attendance>
    </div>
  </section>
</div>
