<div class="box" ng-class="'box-'+vm.listStyle">
  <div class="box-header with-border">
    <h3 class="box-title">{{::vm.listTitle}}</h3>
  </div>
  <div class="box-body no-padding">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="person in vm.people">
        <a ng-click="s1.showDetails=true" href="#">{{person.name}}</a>
        <div class="fz-margin" 
              ng-if="s1.showDetails && (vm.delete === undefined || vm.delete)">
          <div class="box box-internal" >
            <div class="box-header with-border">
              <h3 class="box-title">Детали</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" ng-click="s1.showDetails=false">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <button class="btn btn-block btn-danger" ng-click="vm.removeUserFromCompany(person._id)">Удалить из списка</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="box-footer" ng-if="vm.add === undefined || vm.add">
    <fz-user-add add="vm.addUserToCompany(memberId)"></fz-user-add>
  </div>
</div>
